.main-grid{
    grid-template-areas: 
    ". . header header header header header header header header header header"
    ". . intro intro intro intro intro intro intro intro intro intro"
    ". . about about about about about about about about about about"
    ". . services services services services services services services services services services"
    ". . gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
    ". . footer footer footer footer footer footer footer footer footer footer";
    }
.main-header{
    grid-area: header;
    background-color: gray;
    }
.intro{
    grid-area: intro;
    background-color: blue;
    }
.about-us{
    grid-area: about;
    background-color: red;
    }
.our-services{
    grid-area: services;
    background-color: purple;
    }
.main-gallery{
    grid-area: gallery;
    background-color: yellow;
    }
.main-footer{
    grid-area: footer;
    background-color: green;
    }