@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,400i,700i,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');

$main-color: #32d0ea;
$main-color-dark: #0D6A78;
$main-bg-color: #194b50;
$main-bg-color-dark: rgba(22%, 28%, 42%, 0.7);
$main-bg-color-darker: rgb(12%, 18%, 32%);
$main-bg-color-darkest: rgba(5, 20, 56, 0.75);
$main-bg-color-bright: rgba(100%, 100%, 100%, 0.5);
$main-font: 'Nunito', sans-serif;
$title-font: 'Kaushan Script', cursive;
$title-color: rgb(100%, 72%, 56%);
$title-color-trans: rgba(100%, 72%, 56%, 0.75);
$cols: 12;
$index-rows: 6;
$gps-rows: 5;
$cont-rows: 3;
$res-rows: 6;
$services-num: 2;


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
img{
    object-fit: scale-down;
}

/*ROOT ABOVE*/


html{ 
    scroll-behavior: smooth;
    font-size: 16px;
    box-sizing: border-box;

    @media (min-width: 576px){
        font-size: 14px;
    }
    @media (min-width: 768px){
        font-size: 12x;
    }
    @media (orientation: portrait){
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
    color: $title-color;
}

h2{
    font-size: 5vmin;
}

body{
    background: linear-gradient(135deg, #21233d 0%,#262948 7%,#2c2f52 16%,#1f2139 29%,#131423 37%,#000000 45%,#08080e 52%,#131423 67%,#0c0d16 86%,#080910 100%); 
    color: white;
    font-family: $main-font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
    overflow-wrap: break-word;
    hyphens: manual;
}

a{
    color: $main-color;
    text-decoration: none;
}

a:visited{
    color: $main-color-dark;
}

a:hover,
a:focus{
    text-decoration: none;
    color: white;
}
.bg{
    background-image: url(../res/united-squares-negative.png);
    background-size: 30vw 30vw;
    opacity: 0.2;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
/*GLOBAL ABOVE*/


.main-header{
    visibility: hidden;
    grid-area: header;
    top: 0;
    position: relative;
    background-color: white;
    min-height:  120px;
    height:  100vh / $index-rows / 1.5;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.fixed{
        position: fixed;
        visibility: visible;
        z-index: 100;
    }

    & .main-header__frame{
        display: flex;
        align-items: center;
        padding: 1vmin;
        width: auto;

        & .main-header__frame__logo{
            min-height: 10vh;
            max-height: 8vw;
        }

    }
    &>.main-nav{
        display: flex;
        justify-content: flex-end;
        width: auto;
        position: absolute;
         right: 10px;
          top: 50%;
          transform: translateY(-50%);

        &>.main-nav__menu-list{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &>.main-nav__menu-list__list-item{

                &>a{
                    position: relative;
                    background-color: $main-bg-color-darker;
                    opacity: 0.8;
                    color: white;
                    padding: 1.1em 1.1em;
                    font-size:  calc(0.7vmin + 9px);
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    margin-right: 0.1em;
                    transition: opacity 0.4s ease-in-out;

                    @media (min-width: 1100px) {
                        font-weight: 200;
                        padding: 0.8em 1.6em;
                        font-size:  calc(1.5vmin + 9px);
                        letter-spacing: 3px;
                    }
                    &.current-tab{
                        background-color: $title-color-trans;
                        color: black;
                    }
                    &:hover,
                    &:focus{
                        color: black;
                        background-color: $title-color-trans;
                    }
                    &:active{
                        opacity: 1;
                        top: 2px;
                    }
                }
            }
            @media (orientation: landscape) {
                display: flex !important;
            }

            @media (orientation: portrait) {
                display: none !important;
            }
        }
        & .btn-group{
            @media (orientation: landscape) {
                display: none !important;
            }

            @media (orientation: portrait) {
                display: block !important;
            }
        }
        & .main-nav__icon{
            opacity: 0.5;
            cursor: pointer;
            line-height: 10vh;
            font-size: 8vh;
            min-height: 8vh;
            max-height: 6vw;
            min-width: 8vh;
            max-width: 6vw;
            transition: 0.4s ease-in-out;
            padding: 0;
            &:hover{
                opacity: 1;
            }
        }

        & .dropdown-menu{
            margin-top: 1.2vh;
        }
        & .dropdown-item{
            color: $main-bg-color-dark;
            cursor: pointer;
            display: block;
            width: calc(100vw - 30px);
            height: 12.5vh;
            font-size: calc(2.5vmin + 9px);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 900;
            transition: 0.2s ease-in-out;
            &.current-tab{
                color: aliceblue;
                background-color: $main-bg-color-dark;                
            }

            &:hover{
                color: aliceblue;
                background-color: $main-bg-color-dark;
            }
        }
    }
}
.main-grid{

    display: grid;
    width: 100%;
    min-height: 50vh;
    /*grid-template-columns: repeat($cols, calc(100vw/12));
    grid-template-rows: repeat($index-rows, minmax(calc(100vw/$index-rows), auto));*/
    
        &>*{
            border-right: 2px solid #aaa;
            border-top: 2px solid #aaa;
            border-left: 2px solid #444;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }
    &.index{
        grid-template-columns: repeat($cols, (100% / $cols));
        grid-template-rows: repeat($index-rows, minmax((100vh / $index-rows) ));
        grid-template-areas:
        "header header header header header header header header header header header header" 
        "intro intro intro intro intro intro intro intro intro intro intro intro"
        "about about about about about about about about about about about about"
        "services services services services services services services services services services services services"
        "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery";
        & .our-services{ grid-area: services}

        @media (min-width: 576px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            ". intro intro intro intro intro intro intro intro intro intro ."
            ". about about about about about about about about about about ."
            ". services services services services services services services services services services ."
            ". gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery .";

            &>.main-header{ grid-area: header;}
            &>.intro{ 
                grid-area: intro;
            }
            &>.about-us{ grid-area: about;}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
        }

        @media (min-width: 768px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            ". . about about about about about about about about . ."
            ". . services services services services services services services services . ."
            ". . gallery gallery gallery gallery gallery gallery gallery gallery . ."
            ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
        }
        @media (orientation: portrait) {
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            "about about about about about about about about about about about about"
            "services services services services services services services services services services services services"
            "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
    ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
        }
    }
}

.intro{
    position: relative;
    min-height: 15vmax;
    height: 55vmin;
    grid-area: intro;
    background-image: url("../res/main.jpg");
    background-size: 110%;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @media (min-width: 576px) {
        height: 35vmin;
        background-position-y: 35%;
    }
    @media (orientation: portrait) {
        height: 40vmin;
        background-position-y: 15%;
    }
    @media (min-width: 1000px) {
        height: 50vmin;
        background-position-y: 70% !important;
    }
    &>.intro__title{
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
            &>a{
                margin-right: 2vh;
                margin-bottom: 1vh;
                border-radius: 50%;
                opacity: 0.8;
                transition: opacity 0.4s ease-in-out, box-shadow 0.6s 0.2s ease-in-out;
                &:hover,
                &:focus{
                    opacity: 0.9;
                    box-shadow: inset 0 0 0 1.5vh $main-color-dark;
                }
                &:active{
                    opacity: 1;
                    box-shadow: inset 0 0 0 1.5vh $main-color;
                }
                &>img{
                    min-height: 13vh;
                    max-height: 8vw;
                }
                &.current{
                    opacity: 1;
                    box-shadow: inset 0 0 0 1.5vh $main-color-dark;
                }
                &>img{
                    min-height: 8vh;
                    max-height: 6vw;
                }
            }
    }
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: about;
    background-color: $main-bg-color-dark;
    padding: 1.5em 2em;

    &>.about-us__title{

        hyphens: manual;
        word-wrap: wrap;
        margin-bottom: 0.5em;
        font-size: 2rem;
    }

    &>.about-us__body{
        max-width: 50ch;
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 0.1rem;
            margin: .75em 0;
            background: white;
        }
    }


    @media (orientation: landscape){
        flex-direction: row;
        &>.about-us__title{

            margin-bottom: 0;
            margin-right: 2rem;
            text-align: right;
        }        
        &>.about-us__body{
            position: relative;
            display: block;
            height: 100%;
            width: auto;
            padding-right: 1em;
            text-align: left;
            &::before{
                display: none;
            }
            &::after{
                position: absolute;
                top: 0;
                bottom: 0;
                left: -2em;
                width: 0.2rem;
                content: "";
                display: block;
                width: 0.1em;
                margin: 0 1.5em;
                background: white;
            }
        }
        
    }
}
.our-services{
    padding: 0.25em 0.33em;
    position: relative;
    height: 32vh;
    grid-area: services;
    background-color: $main-bg-color-darker;

    &>.our-services__frame{
        width: 100%;
        height: 50%;
        position: relative;
        padding: 0.25em 0.33em;
        cursor: pointer;
        &>.service{
            background-color: $main-bg-color-dark;
            opacity: 0.8;
            display: block;
            width: 100%;
            height: 100%;
            &.current{
                background-color: $main-bg-color-darkest;                
                opacity: 1;
            }
            &:hover,
            &:focus{
                background-color: $main-bg-color-darkest;                
                opacity: 1;
            }
        }
        & .our-services__frame__logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 10vh;
            max-height: 6vw;
            @media (orientation: portrait) {
                min-height: 12vh;
                max-height: 8vw;
            }
        }
        @media (orientation: landscape) {
            width: 100% / $services-num;
            height: 100%;
            margin-bottom: 0;
            float: left;
        }
    }
    @media (orientation: landscape) {
        height: 100vh / $index-rows;
        margin-bottom: 0;
        float: left;
    }
    } 
.main-gallery{
    grid-area: gallery;
    background-color: $main-bg-color-dark;

    @supports not (-ms-high-contrast: none) {
        & a:hover,
        & a:focus{
            opacity: 1 !important;
        }

        & a:hover img,
        & a:focus img{
            box-shadow: 0 0 0 2.5px white;
        }
    }

    &>.main-gallery__info{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $main-bg-color-bright;
        width: 100%;
        height: auto;
        &>strong{
            padding: 1em;
            color: #333;
            text-align: center;
            letter-spacing: 0.1em;
        }
    }  
    &>.single2,
    &>.double2{
        padding: 1em 0 0 1em;
        display: none;
        & .main-gallery__frame{
            padding: 0 1em 1em 0;
            width: 100%;
            opacity: 0.4;
            &>.main-gallery__frame__thumbnail{
                transform: scale(0.9);
                filter: blur(10px);
                transition: 0.3s ease-in-out;
            }
        }

        @media (min-width: 576px){
            &>.main-gallery__frame{
                float: left;
                width: 50%;
            }
        }

        @media (min-width: 768px){
            &>.main-gallery__frame{
                float: left;
                width: 33.33%;
            }
        }

        @media (orientation: portrait){
            &>.main-gallery__frame{
                float: left;
                width: 100%;
            }
        }
    }
}
.main-footer{
    min-height: 100vh / $index-rows / 2;
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $main-bg-color-darker;
    border-top: 2px solid #aaa;
    font-size: 0.9rem;
    height: auto;
}
/*INDEX LAYOUT ABOVE*/

.main-grid.gps{

    display: grid;
    width: 100%;
    min-height: 50vh;
    /*grid-template-columns: repeat($cols, calc(100vw/12));
    grid-template-rows: repeat($rows, minmax(calc(100vw/$rows), auto));*/
    grid-template-columns: repeat($cols, (100% / $cols));
    grid-template-rows: repeat($gps-rows, minmax((100vh / $gps-rows) ));

    grid-template-areas:
    "header header header header header header header header header header header header" 
    "intro intro intro intro intro intro intro intro intro intro intro intro"
    "services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps"
    "map map map map map map map map map map map map"
    "news news news news news news news news news news news news";

        &>*{
            border-right: 2px solid #aaa;
            border-top: 2px solid #aaa;
            border-left: 2px solid #444;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }
        &>.our-services{ grid-area: services_gps}
        &>.city-news{
            padding: 1em;
            grid-area: news;
            background-color: $main-bg-color-darkest;
            height: auto;
        }
        
        @media (min-width: 576px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            ". intro intro intro intro intro intro intro intro intro intro ."
            ". services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps ."
            ". map map map map map map map map map map ."
            ". news news news news news news news news news news ."    ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro;
            }
            &>.our-services{ grid-area: services_gps}
            &>.gps__map-container{ grid-area: map; }
            &>.city-news{ grid-area: news}
        }

        @media (min-width: 768px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            ". . services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps . ."
            ". . map map map map map map map map . ."
            ". . news news news news news news news news . ."
            ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.our-services{ grid-area: services_gps}
            &>.gps__map-container{ grid-area: map; }
            &>.city-news{ grid-area: news}
        }
        @media (orientation: portrait) {
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            "services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps services_gps"
            "map map map map map map map map map map map map"
            "news news news news news news news news news news news news"
    ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services_gps}
            &>.gps__map-container{ grid-area: map; }
            &>.city-news{ grid-area: news}
        }
}
.gps>.our-services>.our-services__frame{
    position: relative;
    &:hover img,
    & :focus img{
        display: none;
    }
    &:hover span,
    & :focus span{
        display: initial;
    }
    & span{

        min-width: 500px !important;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: none;
    }
}
.gps__map-container{
    grid-area: map;
    position: relative;
    height: 440px;
    overflow: hidden;
    padding-bottom: 0 !important;
    &>#info{
        border-radius: 1rem;
        display: block;
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        padding: 1.5em 2em;
        background-color: $main-bg-color-bright;
        color: black;
    }
    &>.gps__map-container__map{
        width: 100%;
        opacity: 0;
        transition: all .4s ease-in-out;
    }
    &>.gps__map-container__cover{
        background-image: url('../res/cover.png');
        background-size: 898px 438px;
        opacity: 0.5;
        background-position-x: center;
        background-position-y: center;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        cursor: not-allowed;
        transition: all 0.2s ease-in-out;
    }
}



/*GPS LAYOUT ABOVE*/

.main-grid.cont{

    display: grid;
    width: 100%;
    min-height: 50vh;
    /*grid-template-columns: repeat($cols, calc(100vw/12));
    grid-template-rows: repeat($rows, minmax(calc(100vw/$rows), auto));*/
    grid-template-columns: repeat($cols, (100% / $cols));
    grid-template-rows: repeat($cont-rows, minmax((100vh / $cont-rows) ));

    grid-template-areas:
    "header header header header header header header header header header header header" 
    "intro intro intro intro intro intro intro intro intro intro intro intro"
    "contact contact contact contact contact contact contact contact contact contact contact contact";

        &>*{
            border-right: 2px solid #aaa;
            border-top: 2px solid #aaa;
            border-left: 2px solid #444;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }
        &>.contact-info{grid-area: contact}
        
        @media (min-width: 576px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            ". intro intro intro intro intro intro intro intro intro intro ."
            ". contact contact contact contact contact contact contact contact contact contact .";

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro;
            }
            &>.contact-info{grid-area: contact}
        }

        @media (min-width: 768px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            ". . contact contact contact contact contact contact contact contact . .";

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.contact-info{grid-area: contact}
        }
        @media (orientation: portrait) {
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            "contact contact contact contact contact contact contact contact contact contact contact contact";

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.contact-info{grid-area: contact}
        }
}

.cont>.contact-info{
    background: $main-bg-color-darkest;
    grid-area: contact;
    &>.contact-info__list{
        list-style: none;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0.75em 2em;
        margin-bottom: 0;
        &>.contact-info__list__list-item{
            background: $main-bg-color-dark;
            display: flex;
            flex: 1 1;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin: 0.75em 0;
            &>a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding: 1.5em 2em;
                &>span{
                    margin-left: 25%;
                }
                &>img{
                    width: 2rem;
                    height: 2rem;
                    position: absolute;
                    left: 10%;
                    transition: all 0.2s 0.2s ease-in-out;
                    &#PL{
                        left: 14%;

                    }
                    &#UK{
                        left: 6%;
                    }
                }
                &:focus,
                &:hover{
                    background: $main-bg-color-darker;
                }
                &:focus i,
                &:hover i{
                    left: 5%;
                    opacity: .5;
                    @media (min-width: 576px) {
                        left: 9%;
                    }
                    @media (min-width: 1200px) {
                        left: 5%;
                    }
                }
                &:focus img,
                &:hover img{
                    opacity:0;
                }
                &>.fas{
                    position: absolute;
                    font-size: 3rem;
                    left: 15%;
                    color: white;
                    opacity: 0;
                    transition: all 0.2s 0.2s ease-in-out;
                }
            }  
        }
        @media (-ms-high-contrast: none){
            display: block;
         } 
        @media (min-width: 1200px) {
            flex-direction: row;
        }
        @media (orientation: portrait) {
            flex-direction: column;
        }
        
    }
}

/*CONTACT LAYOUT ABOVE*/

.main-grid.res{

    display: grid;
    width: 100%;
    min-height: 50vh;
    /*grid-template-columns: repeat($cols, calc(100vw/12));
    grid-template-rows: repeat($rows, minmax(calc(100vw/$rows), auto));*/
    grid-template-columns: repeat($cols, (100% / $cols));
    grid-template-rows: repeat($res-rows, minmax((100vh / $res-rows) ));

    grid-template-areas:
    "header header header header header header header header header header header header" 
    "intro intro intro intro intro intro intro intro intro intro intro intro"
    "services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res"
    "about about about about about about about about about about about about"
    "reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews";

        &>*{
            border-right: 2px solid #aaa;
            border-top: 2px solid #aaa;
            border-left: 2px solid #444;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }
        &>.our-services{
            grid-area: services_res;
            
            &>.our-services__frame{
                & .btn{
                    display: none;
                    color: white;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                & img{
                    transition-delay: 1s;
                }
            }
        }
        
        &>.about-us{
            position: relative;
            grid-area: about;
            & strong{
                text-align: center;
            }
            &>.about-us__body{
                display: none;
                width: 100%;
                max-width: 100%;
                line-height: 1.5rem;
                & .hidden{
                    display: none;
                }
                &.double{
                    display: none;
                }
                &::before,
                &::after{
                    display: none;
                }
            }
        }
        &>.reviews{
            grid-area: reviews;
            padding: 1.5rem 2rem;
            padding-top: 5rem;
            background: $main-bg-color-darkest;
            position: relative;
            display: none;
            &>.reviews__score{
                position: absolute;
                font-size: 1em;
                right: .75rem;
                top: 1rem;
                border: 2px solid white;
                width: 3.5rem;
                height: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50% 0 50% 50%;
            }
            & .reviews__name{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                &>img{
                    position: absolute;
                    left: .75rem;
                    top: 1rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 0 50% 50% 50%;
                }
                &>span{
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &>.reviews__positive{
                margin: .5rem;
                padding: .5rem;
                margin-bottom: 1.5rem;
                text-indent: 1rem;
                font-style: italic;
                font-size: 1rem;
                line-height: 1.5rem !important;
                letter-spacing: 0.05rem;
                background: $main-bg-color-dark;
                @media (orientation: portrait) {
                    font-size: 0.8rem;
                }
                &::before{
                    left: -.5rem;
                    top: 0.5rem;
                    position: relative;
                    content: '“';
                    font-style: italic;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    color: $title-color;
                    font-weight: 900;
                }
                &::after{
                    right: -.5rem;
                    top: 0.5rem;
                    position: relative;
                    content: '”';
                    font-style: italic;
                    font-size: 2rem;
                    color: $title-color;
                    font-weight: 900;
                }
            }
            & .reviews__country{
                    position: absolute;
                    left: 50%;
                    top: 3.5rem;
                    transform: translateX(-50%);
            }
            &>.reviews__stayed{
                position: absolute;
                left: .75rem;
                bottom: 1rem;
            }
            &>.reviews__reviewed{
                position: absolute;
                right: .75rem;
                bottom: 1rem;
            }
        }
        
        @media (min-width: 576px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            ". intro intro intro intro intro intro intro intro intro intro ."
            ". services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res ."
            ". about about about about about about about about about about ."
            ". reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews .";

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro;
            }
            &>.our-services{ grid-area: services_res}
            &>.about-us{ grid-area: about}
            &>.reviews{ grid-area: reviews}
            &>.gps__map-container{ grid-area: map; }
        }

        @media (min-width: 768px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            ". . services_res services_res services_res services_res services_res services_res services_res services_res . ."
            ". . about about about about about about about about . ."
            ". . reviews reviews reviews reviews reviews reviews reviews reviews . ."
            ". . reviews reviews reviews reviews reviews reviews reviews reviews . ."
            ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.reviews{ 
                grid-area: reviews;
            }
            &>.our-services{ grid-area: services_res}
            &>.gps__map-container{ grid-area: map; }
        }
        @media (orientation: portrait) {
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            "services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res services_res"
            "about about about about about about about about about about about about"
            "reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews"
    ;

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.reviews{ grid-area: reviews}
            &>.our-services{ grid-area: services_res}
            &>.gps__map-container{ grid-area: map; }
        }
}
.btn-more{
    background-color: $main-bg-color-darker;
    padding: 1em 1.5em;
    font-weight: 900;
    transition: 0.4s ease-in-out;
    text-align: center;
    border-radius: 0.5em;
    &:hover,
    &:focus{
        background-color: $main-bg-color-darkest;
    }
}
.intro{
    @media (min-width: 725px) {
        &:hover .our-links>*{
            transform: scaleY(1);     
        }
        & .our-links>*:focus{
            transform: scaleY(1) !important;
        }
    }
    &>.our-links{
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        &>*{
            transition: all 0.4s 0.8s ease-in-out;
            transform: scaleY(0);
            transform-origin: top;
            text-align: center;
            color: $main-bg-color-darkest;
            padding: 1.5em 2em;
            background: rgba(100%, 100%, 100%, 0.75);   
            @media (orientation: portrait) {
                padding: 1.5em 2em;      
            }
        }
        & strong{
            font-size: calc(45% + 10px);
            display: block;
            width: 100%;
            margin: 10px 0;
        }
        &>*:nth-child(odd){
            position: absolute;
            right: 1.5vw;
            border-radius: 0 0 .5rem .5rem;
        }
        &>*:nth-child(even){
            position: absolute;
            left: 1.5vw;
            border-radius: 0 0 .5rem .5rem;
        }
    }
}

.single.en,
.double.en{
    position: relative;
    & p{
        padding: 1.5em 2em !important;
        padding-bottom: 4em !important;
    }
    &::after{
        content: "Content\'s translation generated automatically";
        text-align: center;
        font-size: 0.8rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3.5rem;
        font-style: italic;
        color: $main-bg-color-bright;
    }
}
.subtitle-special{
    font-size: 1.25rem;
    color: $title-color;
}
.source{
    margin-left: 0.5rem;
    color: #ddd
}
/*RESERVATION LAYOUT ABOVE*/
