@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,400i,700i,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');

$main-color: #32d0ea;
$main-color-dark: #0D6A78;
$main-bg-color: #194b50;
$main-bg-color-dark: rgba(22%, 28%, 42%, 0.7);
$main-bg-color-darker: rgb(12%, 18%, 32%);
$main-bg-color-bright: rgba(100%, 100%, 100%, 0.5);
$main-font: 'Nunito', sans-serif;
$title-font: 'Kaushan Script', cursive;
$title-color: rgb(100%, 72%, 56%);
$title-color-trans: rgba(100%, 72%, 56%, 0.75);
$cols: 12;
$rows: 6;
$services-num: 2;


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


/*ROOT ABOVE*/


html{ 
    font-size: 20px;
    box-sizing: border-box;

    @media (min-width: 576px){
        font-size: 18px;
    }
    @media (min-width: 768px){
        font-size: 16px;
    }
    @media (orientation: portrait){
        font-size: 24px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
    color: $title-color;
}

h2{
    font-size: 5vmin;
}

body{
    background: linear-gradient(135deg, #21233d 0%,#262948 7%,#2c2f52 16%,#1f2139 29%,#131423 37%,#000000 45%,#08080e 52%,#131423 67%,#0c0d16 86%,#080910 100%); 
    color: white;
    font-family: $main-font;
}

ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
    overflow-wrap: break-word;
    hyphens: manual;
}

a{
    color: $main-color;
    text-decoration: none;
}

a:visited{
    color: $main-color-dark;
}

a:hover,
a:focus{
    text-decoration: none;
    color: white;
}
.bg{
    background-image: url(../res/united-squares-negative.png);
    opacity: 0.2;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
/*GLOBAL ABOVE*/

.main-grid.index{

    display: grid;
    width: 100%;
    min-height: 100vh;
    /*grid-template-columns: repeat($cols, calc(100vw/12));
    grid-template-rows: repeat($rows, minmax(calc(100vw/$rows), auto));*/
    grid-template-columns: repeat($cols, (100% / $cols));
    grid-template-rows: repeat($rows, minmax((100vh / $rows) ));

    grid-template-areas:
    "header header header header header header header header header header header header" 
    "intro intro intro intro intro intro intro intro intro intro intro intro"
    "about about about about about about about about about about about about"
    "services services services services services services services services services services services services"
    "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
    "footer footer footer footer footer footer footer footer footer footer footer footer";

        &>*{
            border-right: 2px solid #aaa;
            border-top: 2px solid #aaa;
            border-left: 2px solid #444;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }

        @media (min-width: 576px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            ". intro intro intro intro intro intro intro intro intro intro ."
            ". about about about about about about about about about about ."
            ". services services services services services services services services services services ."
            ". gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery ."
            ". footer footer footer footer footer footer footer footer footer footer .";

            &>.main-header{ grid-area: header;}
            &>.intro{ 
                height: 250px;
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
            &>.main-footer{ grid-area: footer}
        }

        @media (min-width: 768px){
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            ". . about about about about about about about about . ."
            ". . services services services services services services services services . ."
            ". . gallery gallery gallery gallery gallery gallery gallery gallery . ."
            ". . footer footer footer footer footer footer footer footer . .";

            &>.main-header{ grid-area: header;}
            &>.intro{
                height: 60vmin; 
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
            &>.main-footer{ grid-area: footer}
        }
        @media (orientation: portrait) {
            grid-template-areas:
            "header header header header header header header header header header header header" 
            "intro intro intro intro intro intro intro intro intro intro intro intro"
            "about about about about about about about about about about about about"
            "services services services services services services services services services services services services"
            "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
            "footer footer footer footer footer footer footer footer footer footer footer footer";

            &>.main-header{ grid-area: header;}
            &>.intro{
                grid-area: intro
            }
            &>.about-us{ grid-area: about}
            &>.our-services{ grid-area: services}
            &>.main-gallery{ grid-area: gallery}
            &>.main-footer{ grid-area: footer}
        }
}
.main-header{
    visibility: hidden;
    grid-area: header;
    top: 0;
    position: relative;
    background-color: white;
    min-height:  120px;
    height:  100vh / $rows / 1.5;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.fixed{
        position: fixed;
        visibility: visible;
        z-index: 100;
    }

    & .main-header__frame{
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 100px;
        width: auto;
        padding: 10% 0;

        & .main-header__frame__logo{
            min-height: 8vh;
            max-height: 6vw;
        }

    }
    &>.main-nav{
        display: flex;
        justify-content: flex-end;
        width: auto;
        position: absolute;
         right: 10px;
          top: 50%;
          transform: translateY(-50%);

        &>.main-nav__menu-list{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &>.main-nav__menu-list__list-item{

                &>a{
                    position: relative;
                    background-color: $main-bg-color-dark;
                    opacity: 0.8;
                    color: aliceblue;
                    padding: 1.1em 1.1em;
                    font-size:  calc(0.7vmin + 9px);
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    margin-right: 0.1em;
                    transition: opacity 0.4s ease-in-out;

                    @media (min-width: 1100px) {
                        font-weight: 200;
                        padding: 0.8em 1.6em;
                        font-size:  calc(1.5vmin + 9px);
                        letter-spacing: 3px;
                    }
                    &:hover,
                    &:focus{
                        color: #333;
                        background-color: $title-color-trans;
                    }
                    &:active{
                        opacity: 1;
                        top: 2px;
                    }
                }
            }
            @media (orientation: landscape) {
                display: flex !important;
            }

            @media (orientation: portrait) {
                display: none !important;
            }
        }
        & .btn-group{
            @media (orientation: landscape) {
                display: none !important;
            }

            @media (orientation: portrait) {
                display: block !important;
            }
        }
        & .main-nav__icon{
            opacity: 0.5;
            cursor: pointer;
            line-height: 8vh;
            font-size: 8vh;
            min-height: 8vh;
            max-height: 6vw;
            min-width: 8vh;
            max-width: 6vw;
            transition: 0.4s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }

        & .dropdown-menu{
            margin-top: 1.2vh;
        }
        & .dropdown-item{
            color: $main-bg-color-dark;
            cursor: pointer;
            display: block;
            width: calc(100vw - 30px);
            height: 12.5vh;
            font-size: calc(2.5vmin + 9px);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 900;
            transition: 0.2s ease-in-out;

            &:hover{
                color: aliceblue;
                background-color: $main-bg-color-dark;
            }
        }
    }
}
.intro{
    height: 150px;
    grid-area: intro;
    background-image: url("../res/img/double/1.jpg");
    background-size: cover;
    background-position-y: center; 
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: about;
    background-color: $main-bg-color-dark;
    padding: 1.5em 2em;

    &>.about-us__title{
        hyphens: manual;
        word-wrap: wrap;
        margin-bottom: 0.5em;
        font-size: 2rem;
    }

    &>.about-us__body{
        max-width: 50ch;
    }

    @media (min-width: 768px){
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        &>.about-us__title{
            padding-right: 1em;
            text-align: right;
        }
    }
}
.our-services{
    height: auto;
    padding: 2% 5%;
    padding-top: 5%;
    grid-area: services;
    background-color: $main-bg-color-darker;

    & .our-services__frame{
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 13vh;
        margin-bottom: 5%;
        &>.our-services__frame__logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 8vh;
            max-height: 6vw;
            @media (orientation: portrait) {
                min-height: 13vh;
                max-height: 9vw;
            }
        }
        @media (orientation: landscape) {
            width: 100% / $services-num;
            height: 100%;
            margin-bottom: 0;
            float: left;
        }
    }
    @media (orientation: landscape) {
        height: 100vh / $rows;
        padding-top: 2.5%;
        margin-bottom: 0;
        float: left;
    }
    } 
.main-gallery{
    grid-area: gallery;
    background-color: $main-bg-color-dark;
    &>.main-gallery__info{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $title-color-trans;
        width: 100%;
        height: auto;
        &>strong{
            padding: 1em;
            color: #333;
            text-align: center;
            letter-spacing: 0.1em;
        }
    }  
    &>.single,
    &>.double{
        padding: 1em 0 0 1em;
        display: none;
        & .main-gallery__frame{
            padding: 0 1em 1em 0;
            width: 100%;
            &>.main-gallery__frame__thumbnail{
                cursor: pointer;
                transform: scale(0.9);
                filter: blur(10px);
                transition: 0.3s ease-in-out;
            }
        }

        @media (min-width: 576px){
            &>.main-gallery__frame{
                float: left;
                width: 50%;
            }
        }

        @media (min-width: 768px){
            &>.main-gallery__frame{
                float: left;
                width: 33.33%;
            }
        }

        @media (orientation: portrait){
            &>.main-gallery__frame{
                float: left;
                width: 100%;
            }
        }
    }
    &>.single{
        display: block;
    }
}
.main-footer{
    height: 100vh / $rows / 2;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: footer;
    background-color: $main-bg-color-darker;
    border-top: 2px solid #aaa;
}
/*INDEX LAYOUT ABOVE*/